@import url("https://fonts.googleapis.com/css2?family=Yantramanav&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500&family=Yantramanav&display=swap');

:root {
    --fontFamilyNav: "Yantramanav", sans-serif;
    --textFontFamily: 'Noto Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    height: 1024px;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    width: 100%;
    height: 17vw;
    max-height: 200px;
    min-height: 35px;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 100%;
    height: 20vw;
    max-height: 100px;
    display: flex;
    font-family: var(--fontFamilyNav);
}

@media screen and (max-width: 1150px) {
    .nav {
        max-height: 70px;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        max-height: 50px;
    }
}

.nonsocial {
    flex: 13;
    display: flex;
}

.social {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.instagram {
    height: 30px;
    width: 30px;
    margin-left: 1.4rem;
}

@media screen and (max-width: 1100px) {
    .social {
        justify-content: center;
    }

    .instagram {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .instagram {
        height: 20px;
        width: 20px;
    }
}

.brand {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-left: 1rem;
    height: 80px;
    width: 306px;
}

@media screen and (max-width: 1150px) {
    .logo {
        max-width: 315px;
        max-height: 70px;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        max-width: 225px;
        max-height: 50px;
    }
}


.links {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links a {
    /* text-decoration: none; */
    color: black;
    margin: 0 1.4rem;
    font-size: 1.2rem;
}

.Default {
    text-decoration: underline;
    text-underline-position: under;
}

.Option {
    text-decoration: none;
}

.Option:hover {
    opacity: .5;
}

@media screen and (max-width: 1150px) {
    .links a {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 768px) {
    .links a {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px) {
    .links a {
        margin: 0 1.5%;
    }
}

.main {
    display: flex;
    width: 100%;
    height: 27vw;
    max-height: 900px;
    min-height: 700px;
    justify-content: center;
    align-items: center;
}

.content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imgBox {
    height: 500px;
    width: 500px;
}

@media screen and (max-width: 1660px) {
    .imgBox {
        height: 400px;
        width: 400px;
    }
}

.text {
    max-height: 900px;
    max-width: 40%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: var(--textFontFamily);
    font-weight: 500;
    font-size: 3em;
}

p {
    font-family: var(--textFontFamily);
    font-weight: 300;
    font-size: 1.7em;
    margin-top: -1rem;
}

h1,
p {
    padding: 2rem;
}

.text .button {
    text-decoration: none;
    color: #FFF;
    background-color: rgb(239, 79, 106);
    padding: 1rem;
    max-width: 90px;
    margin-left: 1rem;
    font-size: 1rem;
    font-family: var(--fontFamilyNav);
    font-weight: 300;
}

.footer {
    height: 8vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    font-family: var(--fontFamilyNav);
    font-weight: 300;
    font-size: 1rem;
    color: rgb(59, 59, 59);
    opacity: .7;
}

.left {
    margin-left: 1.3rem;
}

.right {
    margin-right: 1.3rem;
}

@media screen and (max-width: 2450px) {
    h1 {
        font-size: 2.6em;
    }

    p {
        font: 1.3em;
    }
}


@media screen and (max-width:2060px) {

    h1,
    p {
        padding: 1.5rem;
    }

    h1 {
        font-size: 2.3em;
    }

    p {
        font-size: 1.1em;
    }

    .button {
        padding: .8rem;
    }
}

@media screen and (max-width: 1250px) {
    .imgBox {
        max-height: 300px;
        min-height: 300px;
        max-width: 300px;
        min-width: 300px;
    }

    h1,
    p {
        padding: 1rem;
        text-overflow: ellipsis;
    }

    h1 {
        font-size: 1.1em;
    }

    p {
        font-size: .7em;
    }

}


@media screen and (max-width: 768px) {
    .imgBox {
        height: 200px;
        width: 200px;
    }

    .text {
        min-height: 270px;
        min-width: 470px;
    }
}